[submodule "Serial_to_Ethernet"]
	path = Serial_to_Ethernet
	url = git@github.com:javakys/Serial_to_Ethernet.git
[submodule "src/Serial_to_Ethernet"]
	path = src/Serial_to_Ethernet
	url = git@github.com:javakys/Serial_to_Ethernet.git
[submodule "src/PlatformHandler"]
	path = src/PlatformHandler
	url = git@github.com:javakys/PlatformHandler.git
[submodule "src/Configuration"]
	path = src/Configuration
	url = git@github.com:javakys/Configuration.git
[submodule "src/ioLibrary_Driver"]
	path = src/ioLibrary_Driver
	url = git@github.com:javakys/ioLibrary_Driver.git
[submodule "src/Serial_to_Ethernet2"]
	path = src/Serial_to_Ethernet2
	url = git@github.com:javakys/Serial_to_Ethernet.git
